
@{
    ViewBag.Title = "Attaques";
}



<div class="container">
    <h2>Attaques</h2>
    <p>Toutes les attaques présentes dans le jeu sont présentes ici avec leur statistiques:</p>
    <table class="table">
        <thead>
            <tr >
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Dommage</th>
                <th>Mana</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vine Whip</td>
                <td>Herbe</td>
                <td>35</td>
                <td>1</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ember</td>
                <td>Feu</td>
                <td>40</td>
                <td>1</td>
                <td>200</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bubble</td>
                <td>Herbe</td>
                <td>35</td>
                <td>1</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
</div>